$logo-width: 250px;

.logo-area {
    margin: calc($logo-width / 6) auto;
    width: $logo-width;
    height: calc($logo-width / 2);

    img {
        width: 100%;
        height: 100%;
        border: 0px;
    }
}

.select-lesson-area {
    border-radius: $radius;
    width: 80%;
    background-color: $gray;
    margin: 1rem auto;
    padding: 1rem;
}

.lessons {
    height: 8rem;
}

.lesson {
    height: 50px;
    background-color: $primary;
    display: flex;
    align-items: center;
    border-radius: $radius;
    margin: 10px auto;
    font-size: 2rem;
    justify-content: space-around;
}

.lesson2 {
    @extend .lesson;
    background-color: $secondary;
}