.tlesson-header {
    width: 80%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        background-color: $primary;
        text-align: center;
        padding: 15px;
        border-radius: $radius;
    }

    div {
        background-color: $secondary;
        padding: 10px;
        border-radius: $radius;
    }
}

.ilesson-header {
    @extend .tlesson-header;

    h1 {
        background-color: $secondary;
    }

    div {
        background-color: $primary;
    }
}

.answer-img {
    @extend img;
    width: $img-width;
    display: block;
    margin: 10px auto;
    height: 200px;
}

.select-answer-area {
    @extend .select-lesson-area;
    background-color: white;
    width: 95%;
}

.word-area1 {
    @extend .lesson;
    font-size: medium;
    width: 95%;
    padding: 8px;
    height: 60px;
    justify-content: center;
}

.word-area2 {
    @extend .word-area1;
    background-color: $secondary;
}

.answer-word-area {
    @extend .word-area1;
    height: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.answer-img-table {
    width: 100%;
    text-align: center;

    td {
        height: 8rem;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

#correctModal {
    border: 1rem solid rgb(197, 239, 155);

    h2 {
        color: chartreuse;
        text-align: center;
    }
}

#wrongModal {
    border: 1rem solid rgb(245, 141, 139);

    h2 {
        color: rgb(216, 32, 28);
        text-align: center;
    }
}