.lesson-header {
    width: 80%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        background-color: $primary;
        text-align: center;
        padding: 15px;
        border-radius: $radius;
    }

    div {
        background-color: $secondary;
        padding: 10px;
        border-radius: $radius;
    }
}

.answer-img {
    @extend img;
    display: block;
    border: 1px solid;
    margin: 10px auto;
    height: 200px;
}

.select-answer-area {
    @extend .select-lesson-area;
    background-color: white;
}

.word-area1 {
    @extend .lesson;
    width: 80%;
    justify-content: center;
}

.word-area2 {
    @extend .word-area1;
    background-color: $secondary;
}

#correctModal {
    border: 1rem solid rgb(197, 239, 155);

    h2 {
        color: chartreuse;
        text-align: center;
    }
}

#wrongModal {
    border: 1rem solid rgb(245, 141, 139);

    h2 {
        color: rgb(216, 32, 28);
        text-align: center;
    }
}