.your-score-area {
    background-color: $secondary;
    width: 80%;
    height: calc($display-height/3);
    margin: 4rem auto;
    padding: 1rem;
    border-radius: $radius;
    position: relative;

    .score-row-1 {
        font-size: 2.5rem;
        display: block;
        text-align: center;
    }

    .score-row-2 {
        position: absolute;
        bottom: 1rem;
        width: 100%;

        div {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: auto auto 0 auto;

            .is {
                font-size: 1rem;
            }

            .score {
                font-size: 6rem;
            }
        }
    }
}