@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono");
body {
  font-family: "Ubuntu Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 390px;
  height: 800px;
  margin: 30px auto;
  border: solid 1px gray;
  border-radius: 0.7rem;
  position: relative;
}
body #root {
  height: 100%;
}

a {
  color: black;
  text-decoration: none;
}

img, .answer-img {
  border: 1px solid;
  border-radius: 0.375rem;
}

.footer-d, .footer-s {
  position: absolute;
  bottom: 4rem;
  width: 100%;
}

.low-buttons {
  display: flex;
  justify-content: space-evenly;
  margin: auto auto 0 auto;
}

.footer-s {
  bottom: 1rem;
  left: 1rem;
}

.btn-p, .btn-s {
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
      0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: 0.4rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: black;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: 0.375rem;
  background-color: #8AB5DE;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-s {
  background-color: #FDCD72;
}

ul {
  display: block;
  list-style: none;
  padding: 0;
  overflow: auto;
}

.logo-area {
  margin: 41.6666666667px auto;
  width: 250px;
  height: 125px;
}
.logo-area img, .logo-area .answer-img {
  width: 100%;
  height: 100%;
  border: 0px;
}

.select-lesson-area, .select-answer-area {
  border-radius: 0.375rem;
  width: 80%;
  background-color: #D9D9D9;
  margin: 1rem auto;
  padding: 1rem;
}

.lessons {
  height: 8rem;
}

.lesson, .word-area1, .answer-word-area, .word-area2, .lesson2 {
  height: 50px;
  background-color: #8AB5DE;
  display: flex;
  align-items: center;
  border-radius: 0.375rem;
  margin: 10px auto;
  font-size: 2rem;
  justify-content: space-around;
}

.lesson2 {
  background-color: #FDCD72;
}

.tlesson-header, .ilesson-header {
  width: 80%;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tlesson-header h1, .ilesson-header h1 {
  background-color: #8AB5DE;
  text-align: center;
  padding: 15px;
  border-radius: 0.375rem;
}
.tlesson-header div, .ilesson-header div {
  background-color: #FDCD72;
  padding: 10px;
  border-radius: 0.375rem;
}

.ilesson-header h1 {
  background-color: #FDCD72;
}
.ilesson-header div {
  background-color: #8AB5DE;
}

.answer-img {
  width: 256px;
  display: block;
  margin: 10px auto;
  height: 200px;
}

.select-answer-area {
  background-color: white;
  width: 95%;
}

.word-area1, .answer-word-area, .word-area2 {
  font-size: medium;
  width: 95%;
  padding: 8px;
  height: 60px;
  justify-content: center;
}

.word-area2 {
  background-color: #FDCD72;
}

.answer-word-area {
  height: auto;
  margin: auto 1rem;
  background-color: white;
  border: 1px solid #8AB5DE;
}

.answer-img-table {
  width: 100%;
  text-align: center;
}
.answer-img-table td {
  height: 8rem;
}
.answer-img-table td img, .answer-img-table td .answer-img {
  width: 100%;
  height: 100%;
}

#correctModal {
  border: 1rem solid rgb(197, 239, 155) !important;
}
#correctModal h2 {
  color: chartreuse;
  text-align: center;
}

#wrongModal {
  border: 1rem solid rgb(245, 141, 139) !important;
}
#wrongModal h2 {
  color: rgb(216, 32, 28);
  text-align: center;
}

.your-score-area {
  background-color: #FDCD72;
  width: 70%;
  height: 200px;
  margin: 4rem auto;
  padding: 1rem;
  border-radius: 0.375rem;
  position: relative;
}
.your-score-area .score-row-1 {
  font-size: 2.5rem;
  display: block;
  text-align: center;
}
.your-score-area .score-row-2 {
  position: absolute;
  bottom: 2rem;
  width: 100%;
}
.your-score-area .score-row-2 div {
  display: flex;
  justify-content: space-around;
  align-items: end;
  margin: auto auto 0 auto;
}
.your-score-area .score-row-2 div .is {
  font-size: 1rem;
}
.your-score-area .score-row-2 div .score {
  font-size: 6rem;
}

.sign {
  margin-top: 2rem;
  text-align: center;
}

.login-form {
  display: inline-block;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 1rem 0;
  width: 90%;
}

.form-item {
  margin: 1rem 0;
  text-align: left;
}

.form-c {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #8AB5DE;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #8AB5DE;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#signedModal {
  border: 1px solid black !important;
}

.header-img {
  height: 100%;
  width: auto;
  margin-left: 0;
  border: 0px;
}

header {
  border-bottom: 1px solid #8AB5DE;
  height: 10%;
  width: 100%;
}